/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf6e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.counter-container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #6c757d;
    font-size: 2rem;
}

p {
    color: #495057;
    font-size: 1.2rem;
}

button, p.clickable {
    background-color: #ffc107;
    border: none;
    color: #212529;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}

button:hover, p.clickable:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

button:active, p.clickable:active {
    transform: scale(0.95);
}
